.listItem {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}
.listItem:hover {
  color: orange;
}
.list {
  list-style: none;
  padding: 0;
}
.moviesContainer {
  padding-top: 20px;
  padding-left: 20px;
}
